
@*@{
    Layout = null;
    
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Areas_Home_Sale</title>
    <link href="~/Resources/CSS/AHS/AHS_styles.css" rel="stylesheet" />
</head>
<body>
    <div class="AHS_Details">
        <div class="AHSD_left">
             <div>
                 <div class="col-sm-6 AHSD_Hover">
                    <a href="#">
                        <img src="~/Resources/Images/AHSD/district-1.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận 1</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 AHSD_Hover">
                    <a href="#">
                        <img src="~/Resources/Images/AHSD/district-4.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận 4</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 AHSD_Hover">
                    <a href="#">

                        <img src="~/Resources/Images/AHSD/district-govap.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận Gò Vấp</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div >
                <div class="col-sm-3 AHSD_Hover">
                    <a href="#">
                        <img src="~/Resources/Images/AHSD/district-5.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận 5</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 AHSD_Hover">
                    <a href="#">
                        <img src="~/Resources/Images/AHSD/district-binhthanh.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận Bình Thạnh</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 AHSD_Hover">
                    <a href="#">
                        <img src="~/Resources/Images/AHSD/district-phunhuan.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận phú Nhuận</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div>
                <div class="col-sm-6 AHSD_Hover">
                    <a href="#">
                        <img src="~/Resources/Images/AHSD/district-tanbinh.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận Tân Binh</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 AHSD_Hover">
                    <a href="#">
                        <img src="~/Resources/Images/AHSD/district-3.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận 3</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 AHSD_Hover">
                    <a href="#">
                        <img src="~/Resources/Images/AHSD/district-2.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận 2</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</body>

</html>
