
@*@{
    Layout = null;
    
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Areas_Home_Sale</title>

    <link href="~/Resources/CSS/AHS/AHS_styles.css" rel="stylesheet" />
</head>
<body>
    <div class="AHS_Details">
        <div class="col-sm-6 AHSD_left">
            <div class="col-sm-12 AHSDL_Top ">
                <a>
                    <img src="~/Resources/Images/AHSD/district-1.png" />
                    @*<img src="https://cdn.propzy.vn/hot_district/2017/07/21/district-5.png" alt="Mua bán nhà đất, bất động sản tại quận 5" class="img-responsive" data-pagespeed-url-hash="3585461668" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">*@
                    <div class="bl-info">
                        <h3><span>Nhà bán khu vực</span> Quận 1</h3>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>

            <div class="AHSDL_Mid">
                <div class="col-sm-6 AHSDL_MidLeft">
                    <a>
                        <img src="~/Resources/Images/AHSD/district-5.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận 5</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 AHSDL_MidRight">
                    <a>
                        <img src="~/Resources/Images/AHSD/district-binhthanh.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận Bình Thạnh</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 AHSDL_Bot">
                <a>
                    <img src="~/Resources/Images/AHSD/district-tanbinh.png" />
                    <div class="bl-info">
                        <h3><span>Nhà bán khu vực</span> Quận Tân Binh</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6 AHSD_right">
            <div class="AHSDR_Top">
                <div class="col-sm-6 AHSDR_TopLeft">
                    <a>

                        <img src="~/Resources/Images/AHSD/district-4.png" />
                        @*<img src="https://cdn.propzy.vn/hot_district/2017/07/21/district-5.png" alt="Mua bán nhà đất, bất động sản tại quận 5" class="img-responsive" data-pagespeed-url-hash="3585461668" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">*@
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận 4</h3>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 AHSDR_TopRight">
                    <a>

                        <img src="~/Resources/Images/AHSD/district-govap.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận Gò Vấp</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            @*<div class="AHSDR_Mid">*@

                <div class="col-sm-12 AHSDR_Mid">
                    <a>

                        <img src="~/Resources/Images/AHSD/district-phunhuan.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận phú Nhuận</h3>
                        </div>
                    </a>
                </div>
            @*</div>*@
            <div class="clearfix"></div>
            <div class="AHSDR_Bot">
                <div class="col-sm-6 AHSDR_BotLeft">
                    <a>

                        <img src="~/Resources/Images/AHSD/district-3.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> Quận 3</h3>
                        </div>
                    </a>

                </div>
                <div class="col-sm-6 AHSDR_BotRight">
                    <a>

                        <img src="~/Resources/Images/AHSD/district-2.png" />
                        <div class="bl-info">
                            <h3><span>Nhà bán khu vực</span> 2</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</body>

</html>
