
.carousel {
    position: relative;     
}


.carousel-inner{
    position: relative;    
    overflow: hidden;
    margin:0;
    width:100%;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #400303;
    text-align: center;
    opacity: 0.5;
    background-color: black;
}

img.img-fluid{
    height:400px;
    width:100%;
}
