﻿
@{
        Layout = null;

    }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail_Slider</title>
    <link href="~/Resources/CSS/Detail_Slider/Detail_Slider_Style.css" rel="stylesheet" />
    <link href="~/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />
</head>
<body>
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/1.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/2.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/3.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/4.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/5.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/6.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/7.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/8.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/9.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/10.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/11.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing">
                        <div class="col-item">
                            <div class="blocks">
                                <span class="hidden" itemprop="address" itemscope="">
                                    <span itemprop="streetAddress">, Quận Phú Nhuận</span> <span itemprop="addressLocality"></span>
                                    <span itemprop="addressCountry">Việt Nam</span>
                                </span>
                                @*<span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="10.7949957"> <meta itemprop="longitude" content="106.6748723">
                                </span> <div class="compare" data-id="13634" data-title="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh">
                                    <span>So sánh</span>
                                </div>*@
                                <img itemprop="image" src="~/Resources/Images/DCarousel/12.jpg" alt="Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="bl-value">
                                    <div class="bl-price">
                                        34,1 triệu
                                    </div>
                                    <div class="bl-info-listing">
                                        <span class="elements acreage"><i class="fas fa-home"></i>  194,4m²</span>
                                        <span class="elements bedroom"><i class="fas fa-bed"></i>  3</span>
                                        <span class="elements bathroom"><i class="fas fa-bath"></i>  4</span>
                                        <span class="elements incense"><i class="fas fa-compass"></i> Đ.Nam</span>
                                    </div>
                                </div>
                                <div class="bg-gradient-blocks">
                                </div>
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Nhà thiết kế cỗ kính, khu an ninh, yên tĩnh</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</body>
</html>