
@{
    ViewBag.Title = "ItemsFilter";
    Layout = "~/Views/Shared/Detail.cshtml";
}

<div class="container-fluid">
    <select>
        <option value="" selected disabled>Please select</option>
        <option value="1">Item 1</option>
        <option value="2">Item 2</option>
        <option value="3">Item 3</option>
    </select>
</div>