.Color {
    background-color: #00000096;
}

.Center {
    padding-left:110px;
    padding-right:110px;
    padding-bottom:0px;
    padding-top:0px;
}
.Left{
    display:contents;
    float:left;
}
.ItemCenter {
    padding-left: 15px;
    padding-right: 15px;
}

.Menu {
    color: white;
}

.MenuBT {
    color: white;
}

.Menu:hover {
    color: powderblue;
    text-decoration:none;
    border-bottom:solid;
    border-bottom-color:whitesmoke;
}

.Menu-dropdown {
    border:none;
    background-color: #00000096;
    font-size: inherit;
    padding-bottom: 0px;
    padding-top: 6px;
}

.Menu-dropdownitem {
    color: white;
}

.Menu-dropdownitem:hover {
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 0.25rem;
}

.icons:hover {
    color:gray;
}


.Copyright {
    background-color: #00000096;
    border-top: solid;
    border-top-color: white;
}

.heart {
    color: white;
    padding-top:5px;
}

.heart:hover{
    color: powderblue;
    text-decoration:none;
}

.Right{
    float:right;
    display:inherit;
}

.Body{
    padding-top:0px;
    padding-left:0px;
    padding-right:0px;
    border-top: solid 56px;
    border-top-color: #00000096;
}

.Search {
    border-top: solid 56px;
    border-top-color: #00000096;
    padding-bottom: 10px;
}
